.DS_Store
/Software/Espressif/ESP32-PoE_Eth_to_AP_v4.4/build
/Software/Espressif/ESP32-PoE_Eth_to_AP_v4.4/build
/Software/Espressif/ESP32-PoE_Eth_to_AP_v4.4/build
/Software/Espressif/ESP32-PoE_Eth_to_AP_v4.4/build
